<mat-toolbar color="primary">
  <span>Weather App</span>
  <span class="spacer"></span>

  <mat-nav-list>
    <mat-list-item role="listitem">
      <a mat-button routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
    </mat-list-item>
    <mat-list-item  role="listitem">
      <a mat-button routerLink="/favorites">Favorites</a>
    </mat-list-item>
  </mat-nav-list>

  <div class="theme-toggle" (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
  </div>
</mat-toolbar>
