<mat-toolbar color="primary">
  <span>Weather App</span>
  <span class="spacer"></span>

  <nav class="navigation-menu">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="nav-link" routerLink="/favorites" routerLinkActive="active"
      >Favorites</a
    >
  </nav>

  <div class="theme-toggle" (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
  </div>
</mat-toolbar>
