@use '@angular/material' as mat;

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Inter Tight',
);

@include mat.typography-hierarchy($custom-typography);

$light-primary: mat.define-palette(mat.$indigo-palette, 500);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);

// Light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

@include mat.all-component-themes($light-theme);

.dark-theme {
  $dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $dark-primary,
        accent: $dark-accent,
      ),
    )
  );

  @include mat.all-component-colors($dark-theme);
}

:root {
  --container-width: 1300px;
  --container-padding-x: 15px;
  --header-hight: 4rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-drawer-container {
  min-height: calc(100vh - var(--header-hight));
  padding-top: var(--header-hight);
}

footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  color: white;
}

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - var(--header-hight));
  color: darkgrey;
}

.theme-toggle {
  cursor: pointer;
  margin: 1rem;

  .mat-icon {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
